* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poiret One", serif;
  font-weight: 600;
  font-style: normal;
}

/*
.bodoni-moda-<uniquifier> {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */
body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--main-color);

}
main{
    margin: 0 auto;
}
.main-container{
    margin: 0 5%;
    padding-top: 5%;
  background-color: var(--background-color);
}

.main-title{
    text-align: center;
     font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: var(--text2);
}
:root{
     --main-color: #daccc1;
     --second-color: #aaa48b;
     --background-color:#ede9e3;
     --text : #333;
     --text2 : #806554;
}
p{
    color: var(--text);
    font-size: 16px;
}
a{
    text-decoration: none;
}

h1 {
    font-size: 2.5rem; /* Taille intermédiaire entre 32px et 48px */
}

h2 {
    font-size: 2rem; /* Correspond à 32px */
}

h3 {
    font-size: 1.5rem; /* Correspond à 24px */
}

h4 {
    font-size: 1.25rem; /* Correspond à 20px */
}

h5, h6 {
    font-size: 1rem; /* Correspond à 16px */
}
/**/
.price{
    font-size: 21px;
}